{% extends 'DashboardBundle:module:layout.html.twig' %}
{% block body %}
    {% embed "DashboardBundle:module:embed/block_header.html.twig" with {'header':'Dash'} %}
    {% endembed %}
    <div class="row clearfix">
        TRADUCE EL DESLOGUEO DEL USUARIO!!!
        {{ dump(app.user) }}
    </div>
{% endblock %}