<div class="btn-group user-helper-dropdown">
    <i class="material-icons{{ (dropdown|default(false)?' dropdown-2 hidden':'') }}" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
    <ul class="dropdown-menu pull-right">
        <li><a href="javascript:void(0);"><i class="material-icons">person</i>{{ "user_info_dropdown.perfil"|trans() }}</a></li>
        <li role="seperator" class="divider"></li>
        <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
        <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
        <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
        <li role="seperator" class="divider"></li>
        <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons">input</i>{{ "user_info_dropdown.cerrar_session"|trans() }}</a></li>
    </ul>
</div>